$color-primary: #000000;
$color-secondary: #ffffff;
$color-lightGray: #fbfbfb;
$color-gray: #e1e1e1;
$color-darkGray: #1e201d;
$fontSize-large: 40px;
$fontSize-normal: 24px;
$fontSize-small: 16px;
$fontSize-extraSmall: 14px;
